main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.navbar {
    background-color: #3b3b3f;
}

footer.page-footer {
    background-color: #3b3b3f;
    margin-top: 6rem;
}

.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}

.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}


.top-nav-collapse {
    background-color: #fff !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #fff !important;
    }
}

@media (max-width: 768px) {
    .display-1 {
        font-size: 4rem;
    }
}

.spacing {
    letter-spacing: 3px;
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px;
    }
}

.title_hr {
    border-width: 2px;
    margin-top: -50px;
    border-color: #FFFFFF;
}

.title_logo {
    margin-right: 1rem;
}

.comment_2 {
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.comment {
    margin-top: 3rem;
}

.shadow {
    text-shadow: 7px 7px 10px rgba(0, 4, 24, 0.384);
}

.aboutme {
    margin-top: 4rem;
}